<div class="right-inner container-fluid">
  <span class="loginwith row"
    >Sign {{ signType }} with<br />social network</span
  >
  <div class="row">
    <button class="btn btn-dark btn-lg mb-2 btn-block social-signin facebook">
      Sign {{ signType }} with facebook
    </button>
  </div>
  <div class="row">
    <button class="btn btn-dark btn-lg mb-2 btn-block social-signin twitter">
      Sign {{ signType }} with Twitter
    </button>
  </div>
  <div class="row">
    <button class="btn btn-dark btn-lg btn-block social-signin google">
      Sign {{ signType }} with Google+
    </button>
  </div>
</div>
