<section class="hero hero--img">
  <div class="container-fluid bar-section">
    <div class="row">
      <h1 class="hero-title">Order your favourite food</h1>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="search">
          <form>
            <input
              class="input"
              type="text"
              name="s"
              placeholder="How may we help you?"
            />

            <button routerLink="order">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- .container-->
</section>
<!-- .hero-->
