.hero-title {
  z-index: 10;
  padding-left: 15px;
  display: block;
  width: 100%;
  font-size: 60px;
  text-align: left;
  color: white;
}
.hero--img {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70vh;
  background-image: url("../../../assets/page-title-bg.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: right;

  background-color: var(--third-color);
}

.hero .search {
  position: relative;
  vertical-align: middle;
  z-index: 2;
}
.bar-section {
  padding-left: 15vw;
  padding-right: 15vw;
}
.hero .search input {
  width: 100%;
  height: 76px;
  line-height: 76px;
  border: 1px solid #111;
  background: rgba(0, 0, 0, 0.8);
  font-size: 27px;
  padding: 5px 5px 5px 47px;
  color: #fff;
  position: relative;
  border-radius: 0;
}

.hero .search button {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #fff;
  background: var(--secondry-color);
  font-size: 27px;
  height: 65px;
  line-height: 65px;
  width: 68px;
  padding: 0;
  border: 0;
}

@media (max-width: 767.98px) {
  .hero--img {
    background-image: none;
  }
  .hero .search input {
    background: rgba(0, 0, 0, 0.92);
    font-size: 20px;
    padding: 5px 5px 5px 10px;
    height: 60px;
  }

  .hero .search button {
    height: 48px;
    width: 48px;
    line-height: 48px;
  }
}

@media (max-width: 991.98px) {
  .row {
    width: 100%;
  }
}
