/* Open-Sans 400 from Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Global Variables for Color Schemas */
:host {
  --main-color: #233d4d;
  --secondry-color: #fe7f2d;
  --third-color: #fcca46;
  --fourth-color: #252525;
  --fifth-color: #a1c181;
  /*--sixth-color: #619b8a;*/
  --sixth-color: #16a085;

  font-family: "Open Sans", sans-serif;

  --main-color2: orange;
  --secondry-color2: red;
  --third-color2: #16a085;
}
