<div class="recommended-section">
  <div class="recommended-inner">
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <app-shop-card
          cardTitle="Buffalo Burger"
          cardDesc="Description Here! Description Here! Description Here! Description Here! Description Here!"
          cardImg="../../../../assets/buffaloburger.jpg"
        ></app-shop-card>
      </div>
      <div class="col-xl-6 col-lg-12">
        <app-shop-card
          cardTitle="Buffalo Burger"
          cardDesc="Description Here!"
          cardImg="../../../../assets/buffaloburger.jpg"
        ></app-shop-card>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <app-shop-card
          cardTitle="Buffalo Burger"
          cardDesc="Description Here!"
          cardImg="../../../../assets/buffaloburger.jpg"
        ></app-shop-card>
      </div>
      <div class="col-xl-6 col-lg-12">
        <app-shop-card
          cardTitle="Buffalo Burger"
          cardDesc="Description Here!"
          cardImg="../../../../assets/buffaloburger.jpg"
        ></app-shop-card>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <app-shop-card
          cardTitle="Buffalo Burger"
          cardDesc="Description Here!"
          cardImg="../../../../assets/buffaloburger.jpg"
        ></app-shop-card>
      </div>
      <div class="col-xl-6 col-lg-12">
        <app-shop-card
          cardTitle="Buffalo Burger"
          cardDesc="Description Here!"
          cardImg="../../../../assets/buffaloburger.jpg"
        ></app-shop-card>
      </div>
    </div>
  </div>
</div>
